.section-container{
    height: 100vh;
    width: 100%;
}
.title-container-body{
    padding-left: 4vw;
    padding-top: 3vh;
    height: 7%;
}

.rest-container-body{
    height: 90%;
}

.loader-page{
    height: 100vh;
    background: #000000;
    color: #ffffff;
}

.container-hide{
    overflow: hidden;
    display: none;
}

.nav-bar-fixed{
    background: #ffffff00;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: end;
}

.back-top-container{
    height: auto;
    width: auto;
    
}

.back-top-icon{
    float: right;
    margin: 4em 2em 0 0;
    cursor: pointer;
    transition: all 200ms linear;
    animation: appears 300ms linear;
}

.back-top-icon:hover{
    color: #DEF2F1 !important;
}

@keyframes appears {
    0% {
      color: #DEF2F1;
    }
    100% {
        color: #3AAFA9;
    }
  }