.section-container{
    height: 100vh;
    width: 100%;
}
.title-container-body{
    padding-left: 4vw;
    padding-top: 3vh;
    height: 7%;
}

.rest-container-body{
    height: 90%;
}

.loader-page{
    height: 100vh;
    background: #000000;
    color: #ffffff;
}