.section-container{
    height: 100vh;
    width: 100%;
}
.title-container-body{
    padding-left: 4vw;
    padding-top: 3vh;
    height: 7%;
}

.rest-container-body{
    height: 90%;
}

.loader-page{
    height: 100vh;
    background: #000000;
    color: #ffffff;
}

.container-hide{
    overflow: hidden;
    display: none;
}

.nav-bar-fixed{
    background: #ffffff00;
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 1;
}

.back-top-icon{
    float: right;
    padding: 4em 2em 0 0;
    cursor: pointer;
    transition: all 100ms linear;
}

.back-top-icon:hover{
    transform: translateY(-2em);
}