.header-work-section{
    /*background: linear-gradient(90deg, #DEF2F1 65%, #DEF2F1 65%);*/
    color: #DEF2F1;
}

.header-work-section > span{
    color: #DEF2F1;
}

.big-view-site{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #DEF2F1;
}

.list-site-section{
    height: 95%;
    color: #DEF2F1;
    position: relative;
}

.navigation-list-button{
    width: 14%;
    text-align: center;
    padding-top: 39%;
    position: absolute;
    cursor: pointer;
    height: 61%;
    color: #ffffff14;
    transition: all 250ms linear;
    font-family: 'Poppins', sans-serif;
}

.navigation-list-button:hover{
    color: #ffffff;
}

.img-display{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* STYLE OF CARDS LIST */
.card-site{
    margin: 2% 5% 0 5%;
    cursor: pointer;
}

.img-card{
    object-fit: cover;
}

.card-container{
    width: 30%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 4%;
}

.title-card{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
}

.summary-card{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 65%;
}