.header-work-section{
    background: linear-gradient(90deg, #DEF2F1 65%, #DEF2F1 65%);
}

.big-view-site{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #DEF2F1;
}

.list-site-section{
    height: 85%;
    background: #DEF2F1;
    color: #17252A;
    position: relative;
}

.navigation-list-sites{
    height: 15%;
}

.card-site{
    padding: 2% 5% 0 5%;
}

.navigation-list-button{
    width: 10%;
    text-align: center;
    padding-top: 50%;
    position: absolute;
    cursor: pointer;
    height: 100%;
}

.img-display{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-card{
    width: 50%;
    height: 50%;
    object-fit: cover;
    float: right;
}