.section-container{
    height: 100vh;
    width: 100%;
}

.intro-view{
    height: 70%;
    width: 100%;
    display: flex;
}

.menu-item{
    font-size: 6rem;
    color: #393939;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.7s linear;
    position: absolute;
}

.menu-item:hover{
    color: #fff;
    padding-left: .7em;
}

.menu-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    top: 4%;
}

.menu-container > div{
    padding-left: 35%;
    height: 19%;
    padding-top: 2%;
}

.menu-container > div:first-child{
    padding-top: 0 !important;
}

.back-color{
    background: #000000;
}

.main-img-container{
    height: 100%;
    width: 40%;
}

.main-img-container>img{
    height: 100%;
}

.complement-intro{
    height: 15%;
    width: 100%;
    display: flex;
    color: #fff;
}

.header-intro{
    width: 50%;
    height: 100%;
}

.header-intro-lg{
    width: 50%;
    height: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vw;
    color: #393939;
}
.container-intro-lg{
    padding-top: calc(100vh*.03);
}
.container-intro-lg > span{
    padding-right: 2vw;
    cursor: pointer;
}

.title-intro{
    font-family: 'Raleway', sans-serif;
    font-size: 1vw;
}

.title-container{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 3vh;
}

.footer-container{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0 !important;
    position: absolute;
    top: 50%;
}

.footer-intro{
    width: 50%;
    height: 100%;
    position: relative;
    color: #5b5b5b;
}