.single-chart {
    width: 100%;
    text-align: center;
    height: 50%;
    float: left;
  }
  
  .circular-chart {
    max-width: 80%;
    max-height: 80%;
    padding-top: 5%;
  }
  
  .circle-bg {
    fill: none;
    stroke: #DEF2F1;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }

  .percentage {
    fill: #DEF2F1;
    font-size: 0.5em;
    text-anchor: middle;
  }