.title-container-body>span{
    font-size: 2rem;
    color:#17252A;
    font-family: 'Poppins', sans-serif;
}

.title-about-container{
    height: 100%;
    width: 40%;
    text-align: right;
    text-justify: inter-word;
    display: flex;
    flex-direction: column;
}

.title-about-container>span{
    font-size: 1.5rem;
    color:#17252A;
    font-family: 'Raleway', sans-serif; 
    padding: 8% 0% 0 10%;
    width: 90%;
    font-weight: 600;
}

.title-summary-container{
    height: 100%;
    width: 60%;
    text-align: left;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3vw;
    -moz-column-gap: 20px;
    column-gap: 2vw;
    padding: 3% 7% 0 5%;
}

.title-summary-container>p{
    font-size: 1em;
    color:#23383f;
    font-family: 'Raleway', sans-serif; 
    line-height: 4vh;
    letter-spacing: .05em;
    margin: 0;
}
