.section-container {
    min-height: 900px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-container-body {
    padding-left: 4vw;
    padding-top: 3%;
    height: 10%;
}

.rest-container-body {
    height: 87%;
}

.loader-page {
    height: 100vh;
    background: #000000;
    color: #ffffff;
}

.container-hide {
    overflow: hidden;
    display: none;
}

.nav-bar-fixed {
    position: fixed;
    z-index: 5;
    right: 0;
}

.back-top-container {
    height: auto;
    width: auto;
}

.back-top-icon {
    float: right;
    margin: 4em 2em 0 0;
    cursor: pointer;
    transition: all 200ms linear;
    color: #3aafa9;
}

.back-top-icon:hover {
    color: #fdb813 !important;
}