.intro-view {
    height: 70%;
    width: 100%;
    display: flex;
}

.menu-item {
    font-size: 8vw;
    color: #17252a;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.7s linear;
    position: absolute;
    text-decoration: none;
}

.menu-item:hover {
    color: #def2f1;
    padding-left: 0.7em;
}

.menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    top: 4%;
}

.menu-container > div {
    padding-left: 35%;
    height: 25%;
    width: 65%;
}

.menu-container > div:first-child {
    padding-top: 0 !important;
}

.back-color {
    background: #3aafa9;
}

.main-img-container {
    height: 100%;
    width: 40%;
    display: grid;
    align-content: center;
}

.main-img-container > img {
    /*height: 110%;*/
    width: 100%;
}

.complement-intro {
    color: #17252a;
}

.header-intro {
    width: '100%';
    height: 2rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #17252a;
    display: flex;
    justify-content: space-between;
}
.container-intro-lg {
    padding-top: calc(100vh * 0.03);
}
.container-intro-lg > span {
    padding-right: 2vw;
    cursor: pointer;
}

.title-intro {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
}

.title-container {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 3vh;
}
